@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #141414;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0f0f;
  transition: 0.5s;
  z-index: 1000;
}

header .logo {
  position: relative;
  color: #d71455;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
}

header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin: 10px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

header ul li a:hover {
  background: #d71455;
  color: #050e2d;
  box-shadow: 0 0 10px #d71455;
}

header .action .searchBx {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;
}

header .action .searchBx i {
  font-size: 1.4em;
  margin: 5px;
  color: #222;
}

header .action .searchBx input {
  outline: none;
  border: none;
  font-size: 1em;
  color: #222;
}

/* Banner */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .bg .content h2 {
  font-size: 4em;
  color: #fff;
  letter-spacing: 1px;
}

.banner .bg .content p {
  font-size: 1em;
  color: #dbd9d9;
  letter-spacing: 1px;
}

.banner .bg .content a {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #d71455;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}

.banner .bg .content a:hover {
  background: #d71455;
  border: none;
  color: #050e2d;
  box-shadow: 0 0 10px #d71455;
}

.banner .bg img {
  width: 350px;
}

/* Post it */
.about {
  position: relative;
  width: 100%;
  min-height: 75vh;
  padding: 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .contentBx {
  width: 50%;
  margin: 30px;
}

.about .contentBx h2 {
  font: 3em;
  font-weight: 700;
  color: #fff;
}

.about .contentBx p {
  max-width: 600px;
  text-align: justify;
  color: #dbd9d9;
}

.about .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #d71455;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}

.about .contentBx a:hover {
  background: #d71455;
  border: none;
  color: #050e2d;
  box-shadow: 0 0 10px #d71455;
}

.about img {
  width: 450px;
}

/* Games */
.games {
  padding: 0px 100px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
}

.games .contentBx p {
  max-width: 600px;
  text-align: justify;
  color: #dbd9d9;
}

.games h2 {
  color: #fff;
  margin: 10px 0;
}

.games ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.games ul li {
  list-style: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
}

.games ul li.active {
  background: #d71455;
  color: #dbd9d9;
  box-shadow: 0 0 10px #d71455;
}

.games .cardBx {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.games .cardBx .card {
  width: 280px;
  border-radius: 10px;
  margin: 20px 40px;
  background: #222;
  overflow: hidden;
}

.games .cardBx .card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.games .cardBx .card .content {
  padding: 10px;
}

.games .cardBx .card .content h4 {
  color: #fff;
  margin: 15px 0;
}

.games .cardBx .card .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: #141414;
  margin-bottom: 15px;
  border-radius: 10px;
  transform: scaleX(1);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.games .cardBx .card .progress-line span {
  position: absolute;
  height: 100%;
  width: 80%;
  border-radius: 10px;
  background: #d71455;
  box-shadow: 0 0 10px #d71455;
  transform: scaleX(1);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transition: scaleX(1);
  }
}

.games .cardBx .card .info {
  border-top: 2px solid #141414;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.games .cardBx .card .info p {
  font-size: 1em;
  color: #dbd9d9;
}

.games .cardBx .card .info p span {
  color: #d71455;
}

.games .cardBx .card .info a {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #d71455;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}

.games .cardBx .info a:hover {
  background: #d71455;
  border: none;
  color: #050e2d;
  box-shadow: 0 0 10px #d71455;
}
